<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejemplo con Flask</title>
  </head>
  <body>
    <h1>Home HTML Page para Correr con Flask</h1>
    <br />
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam minima
      aspernatur ex cumque sequi in iusto delectus corporis placeat laboriosam,
      optio vel voluptate corrupti unde, consequatur impedit tempore perferendis
      labore repudiandae molestiae, similique fugit! Nesciunt sapiente
      consequatur veniam animi nihil sed eos nemo fugit, labore pariatur itaque
      repudiandae enim minima.
    </p>
    <hr>
    <a href="http://127.0.0.1:5000/Carlos">Test enviando el nombre de usuario</a>
    <br>
    <a href="http://127.0.0.1:5000/runpy">Template que corre python dentro de HTML</a>
    <br>
    <a href="http://127.0.0.1:5000/runlist">Recibe una lista desde app</a>    
    
  </body>
</html>
